$primaryColor: #f46f4c;
header{
    background-image: url(../img/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  .navbar-brand {
    color: $primaryColor;
    text-transform: uppercase;
}


}

.sec2{
    margin: 10px;
    img{
        width: 100%;
    }
}

.sec3{
    margin: 10px;
    img{
        width: 100%;
    }
}
.sec4{
    margin: 10px;
    img{
        width: 100%;
    }
}
